[2014-09-26 15:41] rsleventhal opened #1 "Rake aborted when running db:migrate"
Adding openproject-revisions and openproject-revisions_git to the Gemfile.plugins file and running `RIALS_ENV=production bundle exec rake db:migrate` leads to `rake aborted!` with the following error:

[code]

[2014-09-26 16:17] rsleventhal commented on #1
Potential work around:
Added two extra `end`s to the 20140530181302_aggregated_git_hosting_migrations.rb script and the error was bypassed.

[2014-09-26 16:42] #1 closed, assigned to nobody

[2014-09-26 16:45] oliverguenther commented on #1
Rookie mistake, sorry :/ In the process of removing several unused migrations from the fork in 8456d93f,  I've deleted too much and it didn't occur to me to run the migrations again. Sorry, should be fixed!

[2014-09-26 17:30] rsleventhal commented on #1
No worries.  I'm glad it's working and that it's confirmed :)

Thanks for the speedy reply!

[2014-10-15 08:24] halkosajtarevic opened #2 "GitLab Integration"
Hi!

Is it possible to extend your plugin to work with GitLab too?

This would be very very very nice! :+1:

Thanks in advance!

Halko

[2014-10-15 08:29] oliverguenther commented on #2
I have not used GitLab in any production setting and thus cannot say what is required to port the plugin to GitLab.

That being said, I have no plans to extend the plugin for GitLab.

[2014-10-15 08:29] #2 closed, assigned to nobody

[2014-10-15 08:37] halkosajtarevic commented on #2
Hi Oliver!

Thanks for your fast reply!

GitLab offers a very good API for creation and update of git-repositories. It's OpenSource and very powerfull in my opinion.

Probably I'll try to do it on my own :+1:

Thank you for your time!

[2014-10-23 21:57] alex1702 opened #3 "problems with the settings"
Hi,

I have the problem that the settings are not apparently taken properly. I have another user set in the options, but in the logs I see "git" as user.

Log output when calling the repository page for a project

[code]

The output of the settings ConfigTest page:

[code]

Thanks for your help.
And sorry for my bad english. xD

[2014-10-24 09:47] oliverguenther commented on #3
It seems that gitolite isn't running correctly or not set up to use from openproject. This would result in the project 'test.git' to not be created through OpenProject and thus it fails to display it.

You need a correctly set up gitolite that runs as a seperate user than openproject (you specified the gitolite user as `openproject`, which will not work.

Ensure you've followed all steps [in the i

[2014-10-24 11:28] alex1702 commented on #3
ok, now i have the user "opgit" and the commands works.
the configtest shows the same error

[code]

output of sudo -n -i -u opgit ls repositories:

[code]

and ssh -i ~/.ssh/openproject opgit@localhost info:

[code]

[2014-10-24 11:37] oliverguenther commented on #3
Ah, yes. The config tests are cached through Rails.cache, you can clear them through `rake tmp:clear`, or get the latest commit (bb9d3cd10912faf82d6f512d0db07ba4e1bbb0b5) which fixes just that.

[2014-10-24 16:33] alex1702 commented on #3
ok, so the problem is solved with the configtest.
But apparently he created me no repositories, if I do the settings under project settings.
Settings:

[code]

error log when I create the git repo in project settings:

[code]

[2014-10-24 16:42] oliverguenther commented on #3
I assume the delayed_jobs worker isn't running. I'll have to add this to the installation tutorial to ensure it is loaded, as the plugin relies on it for all I/O access.

Try `RAILS_ENV=production script/delayed_job start`.

/edit: I've updated the installation tutorial: https://github.com/oliverguenther/openproject-revisions_git/blob/dev/README.md#4-starting-delayed_jobs

[2014-10-24 16:50] alex1702 commented on #3
hmm, now i get permission errors.
has the plugin directly access to the folder?

[code]

[2014-10-24 17:02] oliverguenther commented on #3
The gitolite-admin.git must be cloned locally using the openproject user. This is due to the fact that openproject acts on the (cloned) gitolite-admin.git repository and commits changes to gitolite, which then adds the project and sets up any ssh keys configured with it.

This is part of the _preliminary setup_ for this plugin (cite: _you have successfully cloned the gitolite-admin.git repository

[2014-10-24 17:15] alex1702 commented on #3
[code]

[2014-10-24 17:20] oliverguenther commented on #3
Aha , one step further :laughing: You need to rebuild libgit2/rugged with SSH support, see this issue: https://github.com/libgit2/rugged/issues/299

Under Debian/Ubuntu this currently is `libssh2.1-dev`. Simple reinstall the rugged gem afterwards:

[code]

I'll have another thing to add to the preliminary step of the tutorial ;)

[2014-10-25 21:05] #3 closed, assigned to nobody

[2014-11-23 09:23] Leminity opened #4 "Is this support OpenProject 4.0.1?"
Hi.

I'm installing this plugin. ^^;

I installed OpenProject 4.0.1 used by Packager.io.(not manual install).

My Issue's occured exception.

I got error message when execute command 'RAILS_ENV~~ script/delayed_job start'

error message's
#

RAILS_ENV=production script/delayed_job start

leminity@leminity-MicroServer:/opt/openproject$ RAILS_ENV=production script/delayed_job start
/usr/lib/ruby/1.9

[2015-01-10 06:23] eudoxos opened #5 "Please update install docs"
Hi Oliver, I appreciate your work on this plugin. I stumbled into issues mentioned in #3 (your answers are helpful) and I would like to suggest that the install docs are expanded a little bit. I would suggest the following:
- "you have successfully cloned the gitolite-admin.git repository from the user running OpenProject." is rather a terse instruction. Mentioning `git clone git@localhost:gitolit

[2015-01-10 07:04] eudoxos opened #6 "How to fix nonexisting repo where OP thinks the project has one?"
I created repository from the web UI while I still had an invalid configuration of the plugin. Now when I go to "repository" under the project, OP thinks there is already a repository, and returns Internal error with the following log:

<pre>
sudo call with 'git --git-dir repositories/val/roro.git -c core.quotepath=false -c log.decorate=no branch --no-color' returned exit 128. Error was: fatal: No

[2015-01-10 09:50] oliverguenther commented on #5
Thanks for your feedback - Any suggestions (especially toward the documentation) are much appreciated. I've included the first and last point in 91bd572532baea02217db40b0d280c413c797073

As for the SSH-transport, I've no other way of testing the functionality other than the one linked in the readme: https://github.com/libgit2/rugged/issues/299. Making a note however to print a more helpful error m

[2015-01-10 10:02] oliverguenther commented on #6
If there was an error during the initial repository setup, it may cause the repository to be created in OpenProject, but fail during sync with Gitolite. I'll probably have the repository deleted upon setup errors.

In that case, the `<gitolite-admin.git>/conf/openproject.conf` is probably missing a `val/roro.git` entry.
To fix it, you may be able to repair it by deleting and recreating the project

[2015-01-11 09:26] eudoxos commented on #6
It went fine, I thought at first you were suggesting to delete and recreate the whole project (there are data in it already); deleting and re-creating the repo worked just fine. Thanks!

[2015-01-11 09:26] #6 closed, assigned to nobody

[2015-01-11 09:48] eudoxos opened #7 "Is it possible to show the repo URI to users?"
I am not sure if this goes to the plugin or to OP in general. I see the repository name (project/subproject) under project settings, but regular users don't have access there, so I need to communicate to them "by hand" how to connect (git@mydomain.eu:project/subproject). The Repository page under project shows files and revisions, but no the URI. Is it possible to change this somewhere? Thanks!

[2015-01-11 10:56] oliverguenther commented on #7
Yes, this is definitely planned feature. I haven't implemented it in the plugin so far because the role of repositories within the OpenProject Core [is still open for discussion and subject to change](https://community.openproject.org/topics/1166) -- and I currently have to override internal behavior heavily on the project/settings/repository tab. Nonetheless, as I can't see the discussion moving

[2015-01-11 19:54] oliverguenther commented on #7
29a334b implements the clone URL using the absolute / explicit `ssh://<user>@<host>/<repo path>.git` format. I prefer it over the relative / implicit `<user>@<host>:<path>`, however we could make it configurable.

![git clone url](https://cloud.githubusercontent.com/assets/459462/5696490/c0e202de-99d3-11e4-808f-6612099b9cdf.png)

[2015-01-11 19:56] #5 closed, assigned to nobody

[2015-01-11 19:58] oliverguenther commented on #4
The plugin works fine in any stable release since 4.x. Your issue seems to be related to a config-error in `application.rb`. You should try and lint your configuration, e.g., using http://www.yamllint.com/

[2015-01-11 19:58] #4 closed, assigned to nobody

[2015-01-11 19:58] #7 closed, assigned to nobody

[2015-01-12 12:05] eudoxos commented on #7
Hi Oliver, I appreciate the effort (really) but it is something else than what I meant. When I click on the Repository page in the project (_not_ in Project settings), the URL should be presented there -- so that project members (but not admins) can see how to clone the repo. Would that be something possible to do?

[2015-01-12 17:40] oliverguenther commented on #7
My bad. I've added a repository link in the sidebar of the repository page with 72f2561

![repolink_](https://cloud.githubusercontent.com/assets/459462/5707613/74a8d188-9a8a-11e4-9c9c-b1d2c03a1805.png)

[2015-01-13 09:09] eudoxos commented on #7
Nice, tnaks. The last detail: could it embed the server name in the access link as well? Either taken from OP config, or configurable by hand in plugin settings (in my case those are different: OP is at vserver pro.mydomain.eu and git is git@mydomain.eu - it is the same machine, so git@pro.mydomain.eu will work as well).

[2015-01-13 09:11] oliverguenther commented on #7
Hi, that should work already. Check the Plugin config (Administration -> Plugins -> Revisions/Git (Settings) -> Access). There should be an `SSH Server Domain` which sets the checkout hostname.

[2015-01-13 09:29] eudoxos commented on #7
Perfect!!

[2015-01-14 17:48] eudoxos opened #8 "Repository access link not shown without permissions for the parent project"
The repository access link `git clone ssh://git@server/proj/subproj` is not shown to a user who is member of `subproj` but not of `proj`. He reports seeing

[code]

whereas I see the correct link there.

If you need more details, I will ask him to provide more; if you need logs, tell me which ones and you will have them.

[2015-01-14 18:52] oliverguenther commented on #8
This is no flaw.

In OpenProject, you have to add the user to the parent project. Otherwise only the subproject is visible to him. The permissions do not propagate to the parent.

[2015-01-14 21:14] eudoxos commented on #8
He was able to use the repo after I sent him the correct URL by hand (ssh://git@server/proj/subproj), so there is clearly a mismatch between what OP thinks about the permissions and what gitolite actually allows.

He does not see `proj` as project in OP (since he's not a member of it), only `subproj`, but `proj` is a part of the URL for `subproj` which is perfectly accessible for him.

I would sug

[2015-01-14 21:55] oliverguenther commented on #8
Ah, I see. I thought you meant the user of `subproj` should be able to see (and is able to access) the repo of `proj`, which would be a horrible mistake ;)

However, I cannot reproduce the error. To what permissions did you set the affected user in `subproj`? If he was assigned read-only access, the plugin decides it should print only the public git-protocol clone URL, which isn't implemented in t

[2015-01-15 07:22] eudoxos commented on #8
In my case, it would be this:
- `alice` manages both `foo` and `foo/bar`; there is a repository for `foo/bar` created.
- `bob` is a member of `foo/bar`, but has no access to `foo` at all (thus, he sees only `bar` in project listing, not `foo/bar`)
- actual result: `bob` sees "Repository access not configured" when opening `bar`'s repository .
- desired result: `bob` sees `ssh://git@server/foo/bar`

[2015-01-15 07:57] oliverguenther commented on #8
Okay, I guess there are still some issues with the gitolite_ssh_key permissions in OpenProject. I don't see the need for those permissions anway, so I removed them for now. Please pull e8657d5 to see if this fixes the error. :)

[2015-01-16 10:56] eudoxos commented on #8
Not sure if there is some caching taking place; I created a test user which has all the permissions but (unlike myself) does not see the repository URL for the nested project, whatever settings I tried (manager of both projects, member of both, of the nested one only etc). Is the user added to gitolite automatically, with repository being set-up before the user himself? I have no idea what's going

[2015-01-16 15:14] oliverguenther commented on #8
Could you mail me or link the generated openproject.conf along with a list of the affected repositories and their member permissions? There may be an issue of regenerating the configuration.

I'm preparing a [larger pull request into dev](https://github.com/oliverguenther/openproject-revisions_git/pull/9) that unifies the configuration and reduces the codebase by removing remnants of the forked pr

[2015-01-16 19:15] JohnDoe42 opened #11 "Installation fails"
I get this, when I try to install the plugin (openproject:stable):

[code]

[2015-01-16 19:23] oliverguenther commented on #11
Hi, thanks for your feedback. Please test if ea4a5a7 fixes the error.

[2015-01-16 23:09] oliverguenther opened #12 "Repository browsing relies on relative path"
With the change to absolute URLs in 48456a1e25a99660e700c29159840fa48ef0d741, the absolute repository paths no longer work alongside the core SCM git adapter. This results in the repository pane being empty, as if the repository was not found.

[2015-01-17 12:12] #12 closed, assigned to oliverguenther

[2015-01-17 23:06] JohnDoe42 commented on #11
Works, thanks!

[2015-01-17 23:06] #11 closed, assigned to nobody

[2015-01-20 07:19] eudoxos commented on #8
I confirm this issue (people not seeing ssh link for repos) is fixed with the new revision, though only after fixing the launch script of the packaged installation to pass `--groups git`, as writte in private mail. Thanks!

[2015-01-20 07:19] #8 closed, assigned to nobody

[2015-01-25 12:33] eudoxos opened #14 "Commit notification?"
This is a non-critical request for enhancement than an issue. Could the plugin notify all project memebers (or only watchers, with choice like "work package" has) of commits in the repo?

[2015-01-25 16:02] oliverguenther commented on #14
I don't think this belongs in the core functionality of this plugin, as its details are highly subjective and would require a significant amount of customization (e.g., which roles to mail). This effort increases when using the custom watcher feature that currently exist for work packages.

However, I would like to re-initiate the hooks part of the original plugin, which allows [adding Git Hooks t

[2015-01-25 23:18] JohnDoe42 opened #15 "REPO_UMASK"
[code]

I think you mean to set the umask to 0007 to have permissions of 0770...?

[2015-01-26 02:18] JohnDoe42 opened #16 "Error while accessing project archive"
[code]

[2015-01-26 05:47] JohnDoe42 opened #17 "Repo deletion"
The git repo should not be deleted when the last member is removed from the project, but when the project itself is deleted. Otherwise it may happen, that the admin only wants to assign another team, removes everyone and adds the other team. In this case all work would be erased...

[2015-01-26 06:30] JohnDoe42 commented on #17
Even adding or removing a developer from a repository in use leads to a deletion and recreation of the repo.

[2015-01-26 06:41] JohnDoe42 commented on #17
Log:

[code]

[2015-01-26 07:59] #15 closed, assigned to nobody

[2015-01-26 07:59] #17 closed, assigned to nobody

[2015-01-26 08:02] oliverguenther commented on #17
Arh, yes. The original plugin removed the physical repo upon (re-)creating the repository in Gitolite if it existed before. This was due to purging any remaining files (e.g., if deletion of the old repository failed for some reason). The original plugin then used a different procedure to update repositories (i.e., member updates).

This forked plugin always overrides the configuration in gitolite

[2015-01-26 08:03] oliverguenther commented on #15
Thanks for spotting. I'm using the umask notation so seldomly that I've simply used perl's octal chmod notation instead.

[2015-01-26 08:05] oliverguenther commented on #16
Hi, thanks for your pull request. However, the available urls hash values shouldn't be empty (See their implementation here: https://github.com/oliverguenther/openproject-revisions_git/blob/dev/lib/open_project/revisions/git/patches/repository_git_patch.rb#L101-L109)

Could you elaborate on when this error occurs (especially which member roles), because I can't seem to reproduce it?

[2015-01-26 15:53] eudoxos opened #19 "New (empty) repository not shown properly"
After I create a new repository (which is created in gitolite on the server) and then click to display it, OP says:

<pre>
404
[bug] The entry or revision was not found in the repository.
Back
</pre>

(and repository access links on the left are not shown either).

The log says just

<pre>
fatal: bad default revision 'HEAD'
fatal: Not a valid object name HEAD:
</pre>

When I push first changeset t

[2015-01-26 20:34] oliverguenther commented on #19
I think this matches the internal processing of OpenProject (The plugin does not change that implementation detail).

It finds an empty / bare Git repository and tries to read the current HEAD, which does not (yet) exist.
The problem I see is that in this case, the clone URLs aren't displayed.

Would 1c721ab be an acceptable solution?

[2015-01-26 20:44] eudoxos commented on #19
I am getting an internal error (after the update), this is the log (populated repositories work fine, just the one which is empty produces internal error where it used to give 404 as reported originally):

[code]

[2015-01-26 20:45] #16 closed, assigned to nobody

[2015-01-26 20:47] oliverguenther commented on #19
This is related to #16. Though I can't reproduce that error, I have now merged the fix by JohnDoe42. Does that fix your error, as well?

[2015-01-26 20:55] eudoxos commented on #19
Still the same here (I hope 1e8c6c58e7cb is the last revision):

[code]

[2015-01-26 21:05] oliverguenther commented on #19
Ah, I see. The error seems to stem from an empty GitRepositoryExtras. Okay, I'll have to look into why that extra model is not attached to the repository instance.
If that's really the case, the error should be fixed with d5c0cbb

[2015-01-26 21:19] eudoxos commented on #19
That fixed it, thanks!

[2015-01-26 21:19] #19 closed, assigned to nobody

[2015-01-27 00:04] JohnDoe42 opened #21 "Two Git Keys get the same identifier"
Add two different git keys with different titles and end up with two different fingerprints but the same identifierer <username>_1.pub

[2015-01-27 10:03] #21 closed, assigned to nobody

[2015-01-27 10:06] oliverguenther commented on #21
Yeah, that's a detail that must be changed from the user perspective - thanks for spotting.
The identifier of the gitolite key is _always_ `<login>_<userid>.pub`, however as the user can specify multiple keys, they are saved using the [Gitolite 3 multi-key / location structure](http://gitolite.com/gitolite/basic-admin.html#multi-key).

Thus, the alphanumeric title is used as the location (== direc

[2015-01-29 12:58] JohnDoe42 opened #22 "deployment keys are ignored"
Deployment keys are added to .ssh/authorized_keys but to none of the repos in openproject.conf - so the keys are currently useless.

At least the deployment keys should be added as read-only to all repos that the corresponding user has access to.

In the future the ability may be added to choose the repo, the deployment key belongs to.

[2015-01-29 14:28] oliverguenther commented on #22
Yeah, deployment keys are still non-functional ([c.f., features](https://github.com/oliverguenther/openproject-revisions_git#features)) and we'll have to discuss what use-cases they should solve.

[The redmine plugin has the behavior](https://jbox-web.github.io/redmine_git_hosting/features/index.html#deployment-credentials) to add deployment keys on a per-repository level, while registering them o

[2015-01-29 17:18] JohnDoe42 opened #23 "Permissions to delete SSH Key"
I might be wrong, but currently a developer is not able to delete his SSH Key. The devs have all permissions in the "project archive" box but always get a 404 when trying to delete a key.

[2015-01-29 19:08] #23 closed, assigned to nobody

[2015-01-29 19:10] oliverguenther commented on #23
I got a 403 in my tests, which was due to the key owner not being set. This should be fixed in 9fe4344

[2015-01-29 19:11] JohnDoe42 commented on #23
Which permission do I need to delete? Just being the owner of the key?

[2015-01-29 19:11] oliverguenther commented on #23
Yes, either that or admin permissions, c.f., https://github.com/oliverguenther/openproject-revisions_git/blob/9fe43442ce5da97995c1824718133df244f3b682/app/helpers/gitolite_public_keys_helper.rb#L25

[2015-04-15 08:23] eudoxos opened #24 "Line-wrapping in source view"
The highlighted source view wraps lines in a strange way (line-breaks before comments, it seems); I am not sure if it is the issue of this plugin, of OP or of the highlighting component. These images compare the same code in the repository view and in gvim (which the correct representation):
![op-repo](https://cloud.githubusercontent.com/assets/1029876/7154721/29a19a9a-e359-11e4-8529-8f893102b960.

[2015-04-15 09:42] oliverguenther commented on #24
The plugin does not touch the file rendering of the repository contents. The rendered section you describe originates from the [repository/entry view](https://github.com/opf/openproject/blob/dev/app/views/repositories/entry.html.erb), which calls an instance of [CodeRay](http://coderay.rubychan.de/) in [common/_file](https://github.com/opf/openproject/blob/dev/app/views/common/_file.html.erb).

Th

[2015-04-15 09:48] oliverguenther commented on #24
Not sure if this was one of your guys, but a bug report has been filed at https://community.openproject.org/work_packages/19638

[2015-04-15 09:48] #24 closed, assigned to nobody

[2015-04-15 09:50] eudoxos commented on #24
It was not me, but nice co-incidence. Thanks, agree to close here.

[2015-04-15 11:36] oliverguenther commented on #24
I've proposed a fix for this issue in the PR [fix/coderay-comment-indent](https://github.com/opf/openproject/pull/2829) over in opf/openproject.

[2015-05-21 19:02] JohnDoe42 opened #25 "Error with OpenProject 4.1"
[code]

Just have updated to stable/4.1

[2015-05-22 00:53] JohnDoe42 commented on #25
To fix this, change line 34 in the openproject file app/views/repositories/_navigation.html.erb from

[code]

to

[code]

[2015-05-25 14:54] #25 closed, assigned to nobody

[2015-05-25 14:56] oliverguenther commented on #25
Thanks for spotting, this is best solved in the `show.html.erb`, should be fixed in 07b9946

[2015-07-28 17:59] AnthonyMDev opened #26 "Integration with non-local git repositories (GitHub/BitBucket)?"
Does this plugin support integration with git repositories hosted through other git services? The Installation guide mentions using Gitolite, and it seems that it only works with locally hosted repositories. Is that correct?

Thank you!

[2015-08-18 11:50] linuxmail opened #27 "Feature: Copy/paste button on repository overview"
Actually the user gets a "stop/forbidden" overview icon, while holding the mouse cursor over the "Repository access links" field. It would be nice, if there is a button for copy the link and remove the "forbidden" icon.

[2015-09-21 16:32] piwats opened #28 "openproject-4.2.x: add support"
It seems that the plugin is broken, at least if one regards the Gemfiles...

Will there be an update to support 4.2.x?

[2015-09-21 18:43] oliverguenther commented on #28
Hi @piwats ,

The plugin does not natively support 4.2 at the moment, however I am working on compatibility with the next release of OpenProject 5.0, which comes with an extensive set of features regarding repository management, to which this plugin will adapt to.

[2015-12-11 09:19] mabentwickeltsich commented on #22
Hi Oliver,

Any progress on the deployment keys?
I have been working on it and I have a functional feature. It still needs some fine tuning, but it is working. I was thinking in changing the directory structure of the public keys in the file system because for every key there is a new directory.

I am also working on repository mirrors and post receive urls. I do not know if you have some work on

[2015-12-13 20:12] oliverguenther commented on #22
Hey Luis,

I have been working on providing an upgrade path to the managed repository API in OpenProject 5.0 (Kindly supported by the [ISP, Technische Universität Darmstadt](http://www.isp.informatik.tu-darmstadt.de/)).

As we're rolling out this plugin for them on 5.0.x, I'm going to provide maintenance to this plugin for this release.

That being said, due to my current involvement with OpenProj

[2015-12-14 09:22] mabentwickeltsich commented on #22
Hi Oliver,

I am not sure if I really understood what you said. Will OpenProject 5.0.x have the functionality provided by this plugin? I just do not want to spend time on this if next releases of OpenProject will have these features.

Kind regards
Luis

[2015-12-15 14:13] oliverguenther commented on #22
Hey Luis,

Since this plugin was founded, I've joined OpenProject GmbH and, among many other things, have been working on [overhauling the entire repository management API](https://www.openproject.org/open-source/release-notes/openproject-5-0-0/enhanced-repository-management/) that was released with OpenProject 5.0 in November. It does not impact or include the functionality provided by this plugi

[2015-12-23 20:16] mabentwickeltsich commented on #22
Hi Oliver,

Thanks for the feedback, that was very helpful.

Kind regards
Luis

[2016-03-25 10:38] eudoxos opened #30 "How to migrate from 4.x to 5.0?"
Hi, this is more a support request: I was using this plugin happily with 4.0.x OP (community edition); now I upgraded to 5.0 and I am not sure what is the interaction between 5.0 and this plugin; does 5.0 ship with the plugin or does it access repositories in its own way, without gitolite?

There is "repositories" addon to openproject now which asks for path to OP repositories; I used /var/lib/git

[2016-03-25 11:41] eudoxos commented on #30
Additional information: when I added /etc/openproject/Gemfile.custom file with this plugin (as explained in https://www.openproject.org/open-source/packaged-installation/packaged-installation-guide/), I got this after `openproject configure`:

[code]

Then I commented out this plugin from Gemfile.custom (to avoid the error above) and got the message I originally saw when upgrading the installation

[2016-03-25 13:19] oliverguenther commented on #30
Hey,

first excuse my brevity since I'm on vacation.

Openproject 5.0 completely changed the underlying code regarding
repositories,so the gitolite plugin for Openproject 4 is no longer compatible.

a release/5.0 branch exist on my plugin that I'm using for Openproject
5.0.x, but that hasn't been field tested yet and may cause issues here and
there.

Are you requiring the plugin from that branch?

[2016-03-31 14:51] eudoxos commented on #30
Thanks for help, Oliver,

I switched to `feature/5.0-compatibility` for openproject-revisions and `release/5.0` for openproject-revisions_git, and I can now finish the configuration.

Now even as the plugin "Config Test" page has everything green (after some fiddling, which was a problem of permissions which I changed by hand), the gitolite banner and repositories list is correct

![config-test](h

[2016-04-24 18:21] eudoxos commented on #30
FWIW I see this in the log when deleting a repository:

[code]

[2016-04-25 05:33] oliverguenther commented on #30
Hey @eudoxos,

the latest issue should be resolved on release/5.0. I'm trying to reproduce your error from your earlier post, but no luck.

It seems to originate at the setting's saving line (https://github.com/opf/openproject/blob/release/5.0/app/models/setting.rb#L158) in setting.rb in the core of OpenProject assuming. What version are you running this on so I can check the exact line?

Best,
Ol

[2016-04-26 12:36] eudoxos commented on #30
Hi Oliver, I am running the packaged version 5.0.16-1458824721.38c3fbb.trusty . Thanks, edx.

[2016-05-24 18:12] amanone commented on #30
Hello @oliverguenther,
is `release/5.0` bdf4777 stable enough to be used? I encountered this exact same issue while ago. Thanks you.

[2016-05-25 07:04] mabentwickeltsich commented on #30
Hey Thomas,

The error with 'byebug' has already been fixed, as well as some others that were found during the last months. I have been working on the plugin adding new funtionalities and, as far as I can say, it is stable enough to be used. In any case, let me know if you encounter problems with the plugin and I will try to fix them as soon as possible.

Best regards,
Luis

[2016-05-25 07:14] oliverguenther commented on #30
Hey @amanone,

I have not used release/5.0 in production, but Luis has made great efforts to fix and extend this plugin in the last weeks and months for OpenProject 5.0+. Let us know if you experience any issues with the plugin.

Best,
Oliver

[2016-06-14 09:10] mabentwickeltsich commented on #30
Hey @eudoxos

I think I may have the solution to the problem you are having. I was reading your first pots and realized that you have migrated the repositories using the built-in feature of OP 5 to handle the Git repos. Then you installed the plugin to manage those repositories as you could not do it with the functionality provided by OP 5.
If my assumptions are correct, you may have no entries in

[2016-06-15 07:19] eudoxos commented on #30
Hi @mabentwickeltsich , thank you for your help. I am still seeing some issues; I list them here for overview and if you suggest, I can file some of them as separate issues.

I did run both rescue options, fixed git ownership of repositories etc as you suggested. What I see, though is the following:
1.  Old repositories (which can be accessed over ssh) show both Repository category (on the left) a

[2016-06-15 07:23] eudoxos commented on #30
Alright, one more observation: the newly-created repo is owned by `openproject:www-data` while the old ones are owned by `git:git`:

[code]

I assume the ownership by `openproject:www-data` is an error, and obviously gitolite is not permitted to access the repository.

[2016-06-15 10:02] mabentwickeltsich commented on #30
Hey @eudoxos

Some things can be easily solved. The new version of the plugin and the changes in OpenProject 5 introduced new features that you need to know to make the plugin work properly. Read carefully the README.md file included with the plugin. Check the installation process again, you may have missed some parts.

For the error in "Manage Gitolite repository" (point 1): This is more complica

[2016-06-15 13:02] eudoxos commented on #30
Hi Luis, thank you for prompt reply.

I went through the README.md again, followed all steps. Gitolite is accessible through SSH, openproject is in the git group, repositories are group-writeable. As far as I see it was all correct.

One thing I noticed in the README.md is that it says to add both `openproject_revisions` an `openproject_revisions_git` to the Gemfile.local (I use Gemfile.custom, ha

[2016-06-15 13:47] mabentwickeltsich commented on #30
Hey @eudoxos,

Perhaps you are looking at the wrong README.md file (branch dev?). The README.md file in branch release/5.0 is updated with the new info on how to install and configure the plugin (including the Git and Gitolite repos in System settings of OpenProject); you are missing some steps there. Please, check README.md in the correct branch and go through the steps again:
https://github.com/

[2016-06-15 16:07] eudoxos commented on #30
Thanks, Luis, I followed the other readme, I was indeed looking at a different branch. Now after running updates (`openproject run bundle update`, `openproject run bundle install`)... with my zero knowledge about ruby, gems etc (I am on the c++ side most the time), what to do with this error in grack? Is it something you need to fix?

[code]

[2016-06-15 17:39] mabentwickeltsich commented on #30
@eudoxos,

I have not used packaged installation before. Perhaps there is something else that has to be considered for the plugin. To avoid the error with `grack` I have prepared a version for you without SmartHTTP so you can test it. Later, when I have the time I will check the packaged installation with the plugin.

Instead of having these three lines in your `Gemfile.plugins`:

[code]

use only

[2016-06-15 18:12] eudoxos commented on #30
Great, the `test-packaged-installation` works! Thank you.

This is the previous error output with `Gemfile.custom` as follow:

[code]

(I think I also had to add `gem 'net-ssh'` but can't remember now?). End of output from openproject configure:

[code]

[2016-06-15 20:28] mabentwickeltsich commented on #30
@eudoxos,

I am glad you have finally installed the plugin without problems. I assume that the previous errors (the views "Manage Gitolite repository" and "Repository") with the existing and new repositories are also gone.

I soon as I have the time I will test the packaged installation on Ubuntu Trusty to try to replicate the error of `grack`.

Regards
Luis

[2016-07-30 07:27] eudoxos commented on #30
Hi Luis, can I switch away from the `test-packaged-installation` branch now, has the grack problem been reproduced/resolved? Thanks!

[2016-07-30 07:29] eudoxos opened #31 "Write git commands which are run to the log"
Hi, I am still experiencing issues with the plugin, but I am very limited in finding out what's wrong (and submitting better reports) as all I see in the log is:

[code]

but the log does not show what git command was being run and failed. Could that be added to the log, please? Then I can try running the command from command-line and check the error output (which could be also part of the log, pe

[2016-08-03 14:54] mabentwickeltsich commented on #30
Hey @eudoxos,

I have been very busy with other tasks and did not have the time to check the packaged installation with the plugin. I will let you know as soon as I have some news.

Cheers
Luis

[2016-08-03 14:56] mabentwickeltsich commented on #31
Hey @eudoxos,

I will give you a new test version of the plugin printing the Git command that is being executed. Perhaps tomorrow morning. Sorry for the delay.

Cheers
Luis

[2016-08-03 16:11] mabentwickeltsich commented on #31
Hey @eudoxos,

I had a look at the problem and the code that raises the error is part of OpenProject, not directly in the plugin. It is the method `check_availability!` of the class `Git < Base` (`openproject/lib/open_project/scm/adapters/git.rb`, around line 84 in OP 5.0.13). The first line of this method is the culprit:

[code]

I suggest you to edit the file and add a few extra lines of code to

[2016-08-03 17:32] eudoxos commented on #31
Hi Luis, very nice, thank you; I see this in the log:

[code]

Not sure how to reproduce this; what is the directory git is run in (--git-dir only includes relative path)? The repo exists in `/var/lib/gitolite3/repositories`. ... ?

[2016-08-03 17:58] eudoxos commented on #31
I tried with repository in a different project which works (one of the few, never knew why actually) and here, the full repo path is passed as argument (!!) thus the availability check succeeds:

[code]

[2016-08-09 11:27] mabentwickeltsich commented on #31
@eudoxos,

I understand what the problem is. This issue is related to the upgrade of the plugin from OpenProject 4 where the paths to the repositories were relative. I need to rework this part to solve the problem, but it may take some time.
I assume that the repositories having problems were created in OpenProject 4, but those created in OpenProject 5 work fine.
What you can do in this moment is

[2016-08-11 03:25] eudoxos commented on #31
Hello Luis, thank you. I am mostly off internet for 2 weeks, so cannot test. May I suggest, though, that this modification of paths in the database be done as a part of the configuration recovery in plugin settings? That would seem quite a natural place for that. Not sure if just the old repos don't work, IIRC I was not able to open on I just created with OP5, but not sure now. Cheers, Vaclav
1. s

[2016-08-23 10:59] amanone commented on #30
Hello @oliverguenther,

When I try to create a repository from a project administration page, I  have only choice for git repositories, not gitolite. Moreover when I try to create a git repository I have an error "scm_type parameter is missing" (not in the UI, but in the browser developer's tools).

I tried with `openproject 5.0.0` & `openproject 5.0.20`

Any ideas what's going wrong here?

Thanks

[2016-08-24 09:13] mabentwickeltsich commented on #30
Dear @amanone

According to your description, it seems that you have not configured properly the plugin. Please, make sure you have installed the version from branch `release/5.0` (latest commit is [7923ced](https://github.com/oliverguenther/openproject-revisions_git/commit/7923ced36b2c33be9db3d3ae13d011d3d97d78b7)) and follow the steps in the [README.md](https://github.com/oliverguenther/openproj

[2016-08-24 09:20] mabentwickeltsich commented on #31
@eudoxos

That is a good idea; I will add the functionality to correct this issue (when upgrading the plugin from OP4 to OP5) in the recovery section as soon as I have the time.

Let me know if you have solved the problem in your installation with the SQL scripts I provided. If that is the case, then I do not have to try to find more possible errors in the code.

Cheers
Luis

[2016-08-24 16:04] eudoxos commented on #31
Hi @mabentwickeltsich, it worked, now I can all repos again. If you add this database modification to the recovery function, I am sure it will be useful for other people. Thanks for the precise instruction and help which I appreciate a lot!

I still think logging git command being run could be enabled, but if it is an upstream issue, feel free to close this ticket.

[2016-08-26 18:06] amanone commented on #30
Hi Luis,

I can confirm you that the latest commit was 7923ced. No issue here. The steps that you are mentioning are  useful for a first gitolite-plugin installation. This was not my case, because gitolite plugin was already working with with `release/4.2`.

I'll give it another try next week and share my observations here. Thanks!

[2016-09-12 09:32] mabentwickeltsich commented on #30
@amanone,

Did you manage to configure the plugin and make it work?
The steps in the [README.md](https://github.com/oliverguenther/openproject-revisions_git/blob/release/5.0/README.md) are not only for first installation. You need to review all steps again because some of them are only for OP 5.x. Go through all the steps again and check which ones you need to perform.

Regards
Luis

[2016-10-07 08:21] mabentwickeltsich commented on #30
Hey @eudoxos,

I have been trying to solve the error of `grack` (SmartHTTP) with the packed installation of OpenProject 5. I have reproduced the error (same output as yours), but still no luck in correcting it. As soon as I get some progress, I will let you know.

And excuse the delay; I was assigned to some other tasks that took all my time.

Cheers
Luis

[2016-11-02 11:23] mabentwickeltsich commented on #30
Hey @eudoxos,

I have made changes to the plugin; the error of `grack` (SmartHTTP) should be solved. Have a look and let me know if you still encounter any problem.

Regards
Luis

[2016-11-28 08:50] mabentwickeltsich commented on #22
This feature has been added and it is working.

[2016-11-28 08:50] #22 closed, assigned to nobody

[2016-11-28 09:03] mabentwickeltsich commented on #28
Last version of the plugin supporting OpenProject 4 is commit [cc68e4a](https://github.com/oliverguenther/openproject-revisions_git/commit/cc68e4af905101c04521d9c11297702c2599e981) that can be found in branch [feature/gwdg](https://github.com/oliverguenther/openproject-revisions_git/commits/feature/gwdg). It includes features such as Deployment credentials, Post receive URLs, Repository mirrors an

[2016-11-28 09:03] #28 closed, assigned to nobody

[2016-11-28 09:15] mabentwickeltsich commented on #26
@AnthonyMDev,

The plugin works only with local Git repositories hosted by Gitolite.

[2016-11-28 09:15] #26 closed, assigned to nobody

[2016-11-28 09:34] mabentwickeltsich commented on #27
@linuxmail,

The development of the plugin for OpenProject 4 has stopped; the issue will not be corrected.

This feature is already implemented in version 5 of the plugin.

[2016-11-28 09:34] #27 closed, assigned to nobody

[2017-03-22 14:13] eudoxos opened #32 "Support rails 5.x"
Hi, I tried to update to Openproject 6.1 now and it seems that this package requires rails (<5, >=4.0) while the rest moved to 5 already... Is there an easy fix for that? Thanks!

[2017-03-22 14:14] eudoxos commented on #30
Hi @mabentwickeltsich, I wanted to try, and update OP at the same time to 6.1, which made rails version incompatible... (I filed #32 about that) Once that is resolved, I will be happy to give it a go. Cheers!

[2017-03-22 14:43] eudoxos commented on #32
As an update, even if I run OP6.1 without this gitolite plugin, I get fatal error from the template engine - some way around that? :
[code]

[2017-03-22 14:46] oliverguenther commented on #32
The error you mention is caused by a subclass of `Repository` being tried to instantiate, for which no associated model has been found (as you started without the plugin).

I can't comment on the _current_ compatibility of this version with OpenProject 6.1. However, that being said, the OpenProject core team will soon (within the next weeks) provide compatibility with 6.1. using a version of this

[2017-03-22 15:46] mabentwickeltsich commented on #30
Hey @eudoxos,

There is still an open issue with the plugin and OpenProject 5.0.16. Something changed from 5.0.15 and it breakes SmartHTTP. Not an issue if you do not clone over HTTP. But I have been very busy with my thesis and could not find the time to fix it. Thus, I still do not port the plugin to OpenProject 6. I will set some time to work on the issue these next days.

Regards
Luis

[2017-03-22 15:49] mabentwickeltsich commented on #32
Soon I will be working on that too. But I have to fix one issue that breaks SmartHTTP from OP 5.0.15 to OP5.0.16. Then I will iniciate to port the plugin to OP6.

Regards
Luis

[2017-03-29 08:32] eudoxos commented on #32
Thanks, Luis. Please let me know whenever you have something. We are currently unable to access any project with repository; even if you have dysfunctional version (interface-wise) which will be able to render the project summary page and such, it is still better as we will be able to use the rest of OP. Oh those upgrades without checking compatibility first...

Meaning gitolite will be integrated

[2017-03-29 14:26] mabentwickeltsich commented on #32
Already working on porting the plugin to OP 6.

[2017-03-31 07:40] mabentwickeltsich commented on #32
Testing with OP 6.0 (still Rails 4), but having progress.

[2017-03-31 14:50] mabentwickeltsich commented on #32
I got the plugin working with OP 6.1.5 (latest release). I will do some more testing and upload the new version in the next days.

[2017-03-31 15:26] eudoxos commented on #32
Great, I am looking forward to it. Thanks!

[2017-04-03 08:35] mabentwickeltsich commented on #32
Hey @eudoxos,

I have uploaded a new version of the plugin. Please, have a look, test it and let me know if you encounter any problem. Install it from branch [release/6.1](https://github.com/oliverguenther/openproject-revisions_git/tree/release/6.1).

There are a couple of new things you have to configure. Check [README.md](https://github.com/oliverguenther/openproject-revisions_git/blob/release/6

[2017-04-03 11:57] eudoxos commented on #32
Great, Luis! Everything I tested works smoothly. Thanks a lot. Good luck with the thesis.

[2017-04-03 11:57] #32 closed, assigned to nobody

[2017-08-22 11:09] eudoxos opened #33 "Users not able to manage their own public keys"
As regular user (not OP administrator), it seems the "Public keys" entry is not shown in the users profile page, thus users are not able to manage their public keys - they have to rely on administrator to do so. Is that intentional or configurable? IIt used to be editable by users (perhaps 2 years back) IIRC.

I am running opneporject 6.1.5 with this plugin updated a few months ago.

http://imgur.

[2017-08-22 11:17] oliverguenther commented on #33
IIRC, the public keys entry was only shown when the user had any project membership with a repository access role. Maybe that's the case in your issue?

[2017-08-22 11:49] eudoxos commented on #33
That other user is a member of the project which has the repository, so I can exclude that one. (As a side-note, I think users still should be able to manage keys even if not (yet) part of a project with repository, just for the sake of consistency)

[2017-08-22 12:24] mabentwickeltsich commented on #33
Hi @eudoxos,

As @oliverguenther said, it is only visible when the user has a project membership. HOWEVER, this is something that you (as system admin) have to configure.

Go to Administration | Roles and permissions | Permissions report | Repository
Enable/disable the permissions for a particular Role.

This is a basic standard configuration:
![image](https://user-images.githubusercontent.com/142

[2017-08-22 12:31] eudoxos commented on #33
Hi Luis, very helpful, thanks. For some reason my installation diverged from the default so the user was not able to manage keys himself. Issue solved, thanks for your help!

[2017-08-22 12:31] #33 closed, assigned to nobody

[2018-03-21 23:40] impoetk opened #34 "any support for openproject 7.4.1"
are the instructions the same and only using the Gemfile.custom with said gems?

[2018-03-22 10:12] oliverguenther commented on #34
Hi @impoetk , a maintained version for 7.4.  (with a different feature set than this plugin) is available at https://github.com/opf/openproject-gitolite

[2018-03-22 16:14] impoetk commented on #34
i can't open issues there, but this step is unclear
https://github.com/opf/openproject-gitolite#1-gemfileplugins

by packaged installation is this file the /opt/openproject/Gemfile.plugins ?

when i tried that openproject was not starting at all, also the file here is not empty has already some groups there, should i create a new group? add it to an existing one?

also some commands involving the

[2018-09-06 13:15] oliverguenther commented on #34
Hi @impoetk,

https://www.openproject.org/download-and-installation/#customization is the correct guide to place a plugin .

Regarding your second question, yes that's possible with

[code]

Best,
Oliver

[2018-09-06 13:15] #34 closed, assigned to nobody